.message-panel {
    position: sticky;
    top: 0;
    display: none;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    font-weight: bold;
    align-content: center;
    z-index: 9999;
}

.message-panel .message {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: small;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 12px;
    width: 100%;
}

.message-panel .message-dismiss-icon {
    user-select: none;
    cursor: pointer;
}